<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>车辆识别系统</title>
    <link
      rel="stylesheet"
      href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      #bg {
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .space {
        line-height: 500%;
      }
    </style>
      <!--在网页标题左侧显示图标-->
    <link rel="icon" href="/static/logo.ico" type="image/x-icon">
    <!--在收藏夹显示图标-->
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
  </head>
  <body style="margin-top: 50px;" id="bg">
    <nav
      class="navbar navbar-default navbar-fixed-top navbar-inverse"
      role="navigation"
    >
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="icon-bar"></span><span class="icon-bar"></span
          ><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">车辆识别系统</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">首页</a>
          </li>
          <li>
            <a href="http://127.0.0.1:8000/index/cardetection/">车辆检测</a>
          </li>
        </ul>
      </div>
    </nav>
    <img
      src="/static/car1.jpg"
      class="img-responsive"
      alt="Cinque Terre"
      width="100%"
      
    />
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="text-center">
                <font class="text-center space" size="6" color="black"
                  >功能列表</font
                >
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="/static/car_picture_1.jpg" />
                    <div class="caption">
                      <h3>
                        车辆识别
                      </h3>
                      <p>
                        叙述车辆识别
                      </p>
                      <p>
                        <a class="btn btn-primary btn-lg btn-block" href="#"
                          >Action</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="/static/car_picture_2.jpg" />
                    <div class="caption">
                      <h3>
                        车辆检测
                      </h3>
                      <p>
                        简述车牌识别
                      </p>
                      <p>
                        <a
                          class="btn btn-primary btn btn-primary btn-lg btn-block"
                          href="http://127.0.0.1:8000/index/cardetection/"
                          >Action</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="/static/car_picture_3.jpg" />
                    <div class="caption">
                      <h3>
                        流量监控
                      </h3>
                      <p>
                        简述流量监控
                      </p>
                      <p>
                        <a
                          class="btn btn-primary btn btn-primary btn-lg btn-block"
                          href="#"
                          >Action</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="/static/car_picture_4.jpg" />
                    <div class="caption">
                      <h3>
                        车型识别
                      </h3>
                      <p>
                        车型识别功能
                      </p>
                      <p>
                        <a
                          class="btn btn-primary btn btn-primary btn-lg btn-block"
                          href="#"
                          >Action</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="/static/car_picture_5.jpg" />
                    <div class="caption">
                      <h3>
                        车辆损伤情况
                      </h3>
                      <p>
                        车辆损伤情况功能
                      </p>
                      <p>
                        <a
                          class="btn btn-primary btn btn-primary btn-lg btn-block"
                          href="#"
                          >Action</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="300x200" src="/static/car_picture_6.jpg" />
                    <div class="caption">
                      <h3>
                        车辆分割
                      </h3>
                      <p>
                        车辆分割功能
                      </p>
                      <p>
                        <a
                          class="btn btn-primary btn btn-primary btn-lg btn-block"
                          href="#"
                          >Action</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="col-md-12 column">
              <nav
                class="navbar navbar-default navbar-inverse"
                role="navigation"
              >
                <div
                  class="collapse navbar-collapse"
                  id="bs-example-navbar-collapse-1"
                >
                  <p style="font-size:15px; color:white; padding:15px 0px 10px 0px"
					class="text-center">©Copyright 2020 996Coder</p>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
